<div class="row">
  <div class="col-md-7" id="wrapper">
    <span id="header">
      <app-header [topRecipe]="topRecipe"></app-header>
    </span>
    <div class="container">
      <app-edit-recipe [childSelectedRecipe]="selectedRecipe" (clickedDone)="finishEditing()"></app-edit-recipe>
      <app-new-recipe (sendRecipe)="addRecipe($event)"></app-new-recipe>
    </div>
  </div>
  <div class="col-md-3" id="sidebar">
    <div id="recipes-container">
        <h2>Recipes</h2>
        <app-recipe-list [childRecipeList]="rootList" (clickSender)="editRecipe($event)"></app-recipe-list>
    </div>
  </div>
</div>
